/*Fonts*/
$main-font: 'Roboto', sans-serif;
$category-font-size: 18px;
$title-font-size: 14px;
$button-font-size: 12px;
$page-title-font-size: 28px;
$modal-text-size: 14px;
$modal-subtitle-size: 16px;
$modal-title-size: 30px;
/*Color*/
$main-font-color: #a2a2a2;
$text-color: #797979;
$title-color: black;
$movie-box-bg: #d2d2d221;
$bg-color: white;
$modal-title-color: #bc3b69;
/*Media Q*/
$mobile-width: 1040px;
$mobile-width-2: 700px;
$mobile-width-modal: 800px;
