#home{
    display:flex;
    flex-direction: column;
    
}

#section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    margin-top: 75px;
    @media (max-width: $mobile-width){
        margin-left: 0px;
        margin-top: 53px;
    }
}

main{
    display:flex
}

.movie-section{
    width: 100%;
    height: 100%;
    background-color: $movie-box-bg;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px 60px;
    font-family: $main-font;

    // @media (max-width: $mobile-width){
    //     max-width: 700px;
    // }

    @media (max-width: $mobile-width-2){
        padding: 35px 45px;
    }

    .container-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .movie-category{
            height: 19px;
            font-size: $category-font-size;
            color: $title-color;
            font-weight: 300;
            margin: 0 0 35px 0;
        }
        .view-all{
            font-size: $title-font-size;
            color: $main-font-color;
            font-weight: 100;
            transition: color .5s ease;
            letter-spacing: 0.5px;
            cursor: pointer;
            margin: 0 0 35px 0;
        }
        .view-all:hover{
            color: $title-color;
            
        }
    }
    .movie-container{
        height: 100%;    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $mobile-width){
            justify-content: space-around;
        }
    }
}

.movie-box{
    height: auto;
    margin: 5px 0;

    @media (max-width: $mobile-width){
            margin: 25px 0;
            width: 47%;
            
            &:nth-child(5n){
                display: none;
                }
    }

    .movie-box-content{
        cursor: pointer;
        @media (max-width: $mobile-width){
            width: 100%;
            margin: 5px;
        }

        img{
            width: 180px;
            transform: scale(1);
            transition: transform .6s ease;

            @media (max-width: $mobile-width){
                width: 100%;
            }
        }
        
        p{
            max-width: 185px;
            font-size: $title-font-size;
            color: $main-font-color;
            font-weight: 100;

            @media (max-width: $mobile-width){
                margin: 9px 7px;
            }
        }
    }
}

.movie-box:hover{
    img{
        transform: scale(1.05);
    }
    p{
        color: $title-color;
    }
}

/*Categoría extra*/

#twenty-cat-container{
    justify-content: center;
    flex-direction: column;
    padding: 31px 40px;
    font-family: $main-font;
    background-color: $movie-box-bg;
    display:none;
    // @media (max-width: $mobile-width){
    //     // max-width: 700px;
    // }

    @media (max-width: $mobile-width-2){
        padding: 35px 45px;
    }
    
    #twenty-cat-movies{
        flex-wrap: wrap;
        justify-content: space-between;
        display:none;
        
        @media (max-width: $mobile-width){
            width: 101%;
            justify-content: space-around;
        }

        .movie-box{
            // padding: 23px;
            height: auto;
            margin: 5px 0px;
            padding: 0 10px;
           
            @media (max-width: $mobile-width){
                padding: 10px;
                margin: 25px 0;
                width: 47%;
                
                &:nth-child(5n){
                    display: none;
                }
            }

            @media (max-width: $mobile-width){
                margin: 0px;
            }

            .movie-box-content{
                cursor: pointer;

                @media (max-width: $mobile-width){
                    width: 100%;
                    margin: 5px;
                }
            
                img{
                    transform: scale(1);
                    transition: transform .6s ease;

                    @media (max-width: $mobile-width){
                        width: 100%;
                    }
                }
                
                p{
                    max-width: 185px;
                    font-size: $title-font-size;
                    color: $main-font-color;
                    font-weight: 100;

                    @media (max-width: $mobile-width){
                        margin: 9px 7px;
                    }
                }
            }
        }

        .movie-box:hover{
            img{
                transform: scale(1.05);
            }
            p{
                color: $title-color;
            }
        }
    }

    #container-header{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        #movie-category{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            height: 19px;
            font-size: 18px;
            color: black;
            font-weight: 300;

            @media (max-width: $mobile-width){
                padding: 10px 20px; 
            }
        }
        
        #movies-amount{
            font-size: $title-font-size;
            color: $main-font-color;
            padding: 10px 0;
            font-weight: 100;
            transition: color .5s ease;
            letter-spacing: 0.5px;

            @media (max-width: $mobile-width){
                padding: 0; 
            }
        }
    }
}

